- name: SETUP_ROUTER
  hosts: router
  tasks:

    - name: "UPDATE_AND_UPGRADE"
      apt:
        upgrade=yes
        update_cache=yes
        cache_valid_time=3600
      become: true
      become_user: root

    - name: "INSTALL_IFUPDOWN"
      apt:
        name: ifupdown
        update_cache: yes
      become: true
      become_user: root

    - name: "UPDATE_INTERFACES_FILE"
      lineinfile: 
        path: /etc/network/interfaces
        line: '{{ item }}'
      with_items:
        - "# The loopback network interface"
        - "auto lo"
        - "iface lo inet loopback"
        - "# The WAN interface, motherboard interface"
        - "auto enp2s0"
        - "iface enp2s0 inet dhcp"
        - "# The LAN interface, pci express interface"
        - "auto enp1s0"
        - "iface enp1s0 inet static"
        - "\taddress 192.168.99.1"
        - "\tnetmask 255.255.255.0"
      become: true
      become_user: root

    - name: "UPDATE_SYSCLT_CONFIG_FILE"
      lineinfile: 
        path: /etc/sysctl.conf
        line: '{{ item }}'
      with_items:
        - "net.ipv4.ip_forward=1"
      become: true
      become_user: root

    - name: "CREATE_STARTUP_SCRIPT_FILE"
      file: 
        path: /etc/network/if-pre-up.d/iptables
        state: touch
      become: true
      become_user: root

    - name: "UPDATE_STARTUP_SCRIPT_FILE"
      lineinfile: 
        path: /etc/network/if-pre-up.d/iptables
        line: '{{ item }}'
      with_items:
        - "#!/bin/sh"
        - "/sbin/iptables-restore < /etc/network/iptables"
      become: true
      become_user: root

    - name: "CHANGE_STARTUP_SCRIPT_OWNER_TO_ROOT_AND_WRITABLE_BY_ROOT_AND_READABLE_AND_EXECUTABLE_BY_EVERYONE"
      file:  
        path: /etc/network/if-pre-up.d/iptables 
        owner: root
        mode: 0775
      become: true
      become_user: root

    - name: "UPDATE_IPTABLES_FILE"
      file: 
        path: /etc/network/iptables
        state: touch
      become: true
      become_user: root

    - name: "UPDATE_IPTABLES_FILE"
      lineinfile: 
        path: /etc/network/iptables
        line: '{{ item }}'
        insertafter:
      with_items:
        - '*nat'
        - ':PREROUTING ACCEPT [0:0]'
        - ':INPUT ACCEPT [0:0]'
        - ':OUTPUT ACCEPT [0:0]'
        - ':POSTROUTING ACCEPT [0:0]'
        - ' '
        - '# enp2s0 is WAN interface, #enp1s0 is LAN interface'
        - '-A POSTROUTING -o enp2s0 -j MASQUERADE'
        - '  '
        - '# NAT pinhole: HTTP from WAN to LAN'
        - '-A PREROUTING -p tcp -m tcp -i enp2s0 --dport 80 -j DNAT --to-destination 192.168.99.100:80'
        - '   '
        - 'COMMIT'
        - '    '
        - '     '
        - '*filter'
        - ':INPUT ACCEPT [0:0] '
        - ':FORWARD ACCEPT [0:0]'
        - ':OUTPUT ACCEPT [0:0] '
        - '      '
        - '# Service rules'
        - '       '
        - '# basic global accept rules - ICMP, loopback, traceroute, established all accepted'
        - '-A INPUT -s 127.0.0.0/8 -d 127.0.0.0/8 -i lo -j ACCEPT'
        - '-A INPUT -p icmp -j ACCEPT'
        - '-A INPUT -m state --state ESTABLISHED -j ACCEPT'
        - '        '
        - '# enable traceroute rejections to get sent out'
        - '-A INPUT -p udp -m udp --dport 33434:33523 -j REJECT --reject-with icmp-port-unreachable'
        - '         '
        - '# DNS - accept from LAN'
        - '-A INPUT -i enp1s0 -p tcp --dport 53 -j ACCEPT'
        - '-A INPUT -i enp1s0 -p udp --dport 53 -j ACCEPT'
        - '          '
        - '# SSH - accept from LAN'
        - '-A INPUT -i enp1s0 -p tcp --dport 22 -j ACCEPT'
        - '           '
        - '# DHCP client requests - accept from LAN'
        - '-A INPUT -i enp1s0 -p udp --dport 67:68 -j ACCEPT'
        - '            '
        - '# drop all other inbound traffic'
        - '-A INPUT -j DROP'
        - '             '
        - '# Forwarding rules'
        - '              '
        - '# forward packets along established/related connections'
        - '-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT'
        - '               '
        - '# forward from LAN (enp1s0) to WAN (enp2s0)'
        - '-A FORWARD -i enp1s0 -o enp2s0 -j ACCEPT'
        - '                '
        - '# allow traffic from our NAT pinhole'
        - '-A FORWARD -p tcp -d 192.168.99.100 --dport 80 -j ACCEPT'
        - '                 '
        - '# drop all other forwarded traffic'
        - '-A FORWARD -j DROP'
        - '                  '
        - 'COMMIT '
      become: true
      become_user: root

    - name: "INSTALL_DHCP_SERVER"
      apt:
        name: isc-dhcp-server
        update_cache: yes
      become: true
      become_user: root

    - name: "CONFIGURE_DHCP_SERVER"
      lineinfile: 
        path: /etc/dhcp/dhcpd.conf
        line: '{{ item }}'
      with_items:
        - "subnet 192.168.99.0 netmask 255.255.255.0 {"
        - "\trange 192.168.99.100 192.168.99.199;"
        - "\toption routers 192.168.99.1;"
        - "\toption domain-name-servers 192.168.99.1;"
        - "\toption broadcast-address 192.168.99.255;"
        - "}"
      become: true
      become_user: root

    - name: "INSTALL_DHCP_SERVER"
      apt:
        name: bind9
        update_cache: yes
      become: true
      become_user: root